# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**
Below are the ojectives and the key takeaways one must understand in data science :
+ languages for data science 
+ Open source tools for data science 
+ libraries for Data science 
+ Roles in data science 
+ skills and charateristics to cultivate as a data scientist

Some of the popular languages that Data Scientists use are:
1. Python 
2. Java
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy 
3. matplotlibs 
4. Seaborn 
5. Keras
6. scikit-learn 
7. scala
8. ggplot2

|Data Science Tools|
|------------------|
|Apache Hive       |
|Apache Hadoop     |
|Apache spark      |

Below are a few examples of evaluating arithmetic expressions in Python:
+ 3+4
+ 7-4
+ 56*3
+ 4/2

In [1]:
#This is a simple arithmetic expression to multiply then add integers 
result = (3*4)+5 
print(result)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200 / 60 
print(minutes)

3.3333333333333335

## Author 
Oscar Taremwa